<div id="conteudo" class="container">

    <h1>Calcula Ponto v3.0.4 @judite</h1>
    <hr />
    <router-outlet></router-outlet>

    <div id="footer">
        <p>Copyright © 2019 Guatirama Solutions, Inc. All rights reserved. 
            <a title="Termos de Uso" class="markdown-link" routerLink="/termos">Terms of Use</a> 
            | <a title="Política de Privacidade" class="markdown-link" routerLink="/politica">Privacy Policy</a>
            | <a title="Contribuição com codificação" target="_blank" class="markdown-link" href="https://github.com/alissonsena/calculaponto">Contribua</a></p>
    </div>
  
</div>